<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/user"><img style="width: 2em;height: 2em;" src="../../assets/fire.png" alt="img"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="./orders">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./add">Add</a>
          </li>
        </ul>
        <div class="d-flex">
            <img  class="pointer-event" style="width: 2em;height: 2em;" src="../../assets/logout.png" (click)="LogOut()" alt="img">
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>