<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Is Accepted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of list">
          <td>{{ order.orderId }}</td>
          <td>{{ order.itemId }}</td>
          <td>{{ order.itemName }}</td>
          <td>{{ order.itemPrice | currency:"INR" }}</td>
          <td [ngClass]="{'text-danger':order.isAccepted==false,'text-success':order.isAccepted==true}">{{ order.isAccepted ? 'Accepted' : 'Not Accepted' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  